<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.binaryworkspace.rcp.viewparts.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="com.binaryworkspace.rcp.viewparts.perspectives.Perspective"
            id="com.binaryworkspace.rcp.viewparts.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View 1"
            class="com.binaryworkspace.rcp.viewparts.viewparts.ViewPart_1"
            id="com.binaryworkspace.rcp.viewparts.viewparts.ViewPart_1">
      </view>
      <view
            class="com.binaryworkspace.rcp.viewparts.viewparts.ViewPart_2"
            id="com.binaryworkspace.rcp.viewparts.viewparts.ViewPart_2"
            name="View 2">
      </view>
      <view
            class="com.binaryworkspace.rcp.viewparts.viewparts.ViewPart_3"
            id="com.binaryworkspace.rcp.viewparts.viewparts.ViewPart_3"
            name="View 3">
      </view>
      <view
            class="com.binaryworkspace.rcp.viewparts.viewparts.ViewPart_4"
            id="com.binaryworkspace.rcp.viewparts.viewparts.ViewPart_4"
            name="View 4">
      </view>
      <view
            class="com.binaryworkspace.rcp.viewparts.viewparts.ViewPart_5"
            id="com.binaryworkspace.rcp.viewparts.viewparts.ViewPart_5"
            name="View 5">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="com.binaryworkspace.rcp.viewparts.viewparts.ViewPart_1">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.binaryworkspace.rcp.viewparts.application"
            name="Binary Workspace - 02560 Viewparts">
         <property
               name="appName"
               value="Binary Workspace - 02560 Viewparts">
         </property>
      </product>
   </extension>

</plugin>
